# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_pass
POSTGRES_DB=internship_db
POSTGRES_HOST=host
POSTGRES_PORT=port
DATABASE_URL=postgresql+asyncpg://postgres:secret_pass@db:5432/internship_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379